{% extends "AdminBundle:Default:layoutExterno.html.twig" %}
{% block content %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            SISREC - Solicitar Acesso
        </div>
        <div class="panel-body">
            <form method="post" action="{{ path('admin_solicitaracesso') }}">
                {% include 'AdminBundle:Usuario:manterUtil.html.twig' %}
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a href="{{ path('admin_login') }}" type="submit" class="btn btn-default">Voltar</a>
                        <button type="submit" class="btn btn-primary">Solicitar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}