<h1>E-mail de aprovação de acesso</h1>
<p>Prezado usuário segue o seu login e senha de acesso ao sistema SISREC, para acessar o sistema clique no link: (http://Endereço do sistema)</p>
<p>
    <strong>Usuário de Acesso:</strong> {{ login }}
</p>
<p>
    <strong>Senha:</strong> {{ senha }}
</p>