<h1>E-mail de recuperação de senha</h1>
<p>
    <strong>Nome:</strong> {{ nome }}
</p>
<p>
    <strong>E-mail:</strong> {{ email }}
</p>
<p>
    <strong>Usuário de Acesso:</strong> {{ login }}
</p>
<p>
    <strong>Senha:</strong> {{ senha }}
</p>